.formContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 50px;
}

.formLabel {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: var(--label-text-color);
}
.formLabel:not(:first-child) {
  margin-left: 18px;
}

.formElement {
  margin-top: 8px;
  padding: 14px 18px;
  background-color: var(--form-element-background);
  border: 1px solid transparent;
  border-radius: 14px;
}

.formElement:focus {
  border-color: none;
}

.formInputWrapper {
  display: flex;
  margin-top: 8px;
  border-radius: 14px;
  background-color: var(--form-element-background);
  overflow: hidden;
}

.formInputRelative {
  position: relative;
}

.formElementInputText {
  position: absolute;
  top: 14px;
  left: 24px;
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.formElementInput {
  position: relative;
  padding: 14px 24px;
  padding-left: 74px;
  width: 160px;
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  border: 1px solid transparent;
  background-color: var(--form-element-background);
}
.formElementInput:first-child {
  border-right: 1px solid var(--input-border);
}
.formElementInputLast {
  padding-left: 53px;
}

.formElementBrand {
  width: 224px;
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.formElementPrice {
  width: 125px;
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}
