.linkContact {
  padding: 12px 50px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42;
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: var(--primary-light-color);
  color: var(--light-color);
  transition: background-color var(--transition);
}

.linkContact:hover,
.linkContact:focus {
  background-color: var(--primary-dark-color);
}
